html, body {
  margin: 0;
  padding: 0
}

body {
  /* display: flex;
  min-height: 100vh;
  flex-direction: column; */
}

header {
  width: 95%;
  margin: 0 auto;
  text-align: center;
  color: #fff;
}

header div p {
  padding: 0 .25em .25em;
  margin: 0 .5em  .5em;
}

.game_info {
  display: inline-block;
  border: 1px solid;
}

.game_controls {

}

.player_1 {
  font-weight: 800;
}

.left {

}

.player_2 {
  font-weight: 800;
}

.right {

}

main {
  border: 1px solid;
  margin: 0 1px 0;
}

canvas {
  background-color: lightgreen;
}

footer {
  border: 1px solid;
  text-align: right;
  /* background-color: #000;
  color: #fff; */
  /* padding-right: 1em; */
}

#about {
  font-weight: 800;
  font-size: 1.5em;
}
